/* 햄버거 메뉴 */
input[id="menuicon"] {
    display:none;
}
input[id="menuicon"] + label {
    display:block;
    width:30px;
    height:25px;
    position:fixed;
    left:20px;
    top:calc(5% - 10px);
    transition:all .35s;
    cursor:pointer;
}
input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#6d6d6d;
    transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%)
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}
 /* 체크시 햄버거 버튼 변화 */
input[id="menuicon"]:checked + label {
    z-index:2;
    left:calc(40%);
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}
/* 사이드바 메뉴 */
p {
    margin:0;
    padding: 0;
}
div[class="sidebar"] {
    width:calc(40%);
    height:100%;
    background-color:#485861;
    position:fixed;
    top:0;
    left:calc(-40%);
    z-index:1;
    transition:all .35s;  
    color: white;  
    overflow: scroll;
}
input[id="menuicon"]:checked + label + div {
    left:0;
}

.hide {
    display: none;   
}
/* 
@keyframes fade-out {
    from {
      opacity: 1;
  
    }
    to {
      opacity: 0;
    }
  } */

.show {
    /* animation: fade-in 1s; */
    display: block;
}

.sidebar .memo_show {
    border-bottom:1px solid #ccc;
    width:80%;
    display:inline-block;
    padding:5px;
    margin-bottom:50px;
}

/* @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */

#memo_list button {
    position: absolute;
    background-color:#485861;
    top:7%;
    right:0;
    font-size: 14px;
    color: rgb(252, 107, 107);
    border:1px solid #777;
    padding:4px 7px;
    border-radius: 5px;
}

#memo_list div {
    display:inline-block;
    position: relative;
    width:80%; 
    margin: 20px; 
    padding: 10px;
    border-bottom:1px solid #777;
} 
#memo_list p {
    text-align: left; 
    margin-left:5px; 
    margin-bottom: 2px;
    font-weight: normal; 
    font-size: 1.3rem;
}
#memo_list p:nth-child(2) {
    text-align: left; 
    margin-left:5px; 
    margin-bottom: 30px;
    color: #b9b9b9;
    font-size: 14px;
    font-weight:bold;
} 
#memo_list .search_memo {
    display:inline-block;
    position: relative;
    width:80%; 
    margin: 20px; 
    padding: 10px 20px;
    border:1px solid#d27c7c;
} 

#memo_list .search_memo input {
    position: absolute;
    background-color:#485861;
    top:7%;
    right:0;
    font-size: 14px;
    color: rgb(252, 107, 107);
    border:1px solid #777;
    padding:4px 7px;
    border-radius: 5px;
}

.sidebar form > div {
    display:inline-block;
    width:80%;
    text-align:left;
    margin-left:20px;
}
.sidebar form textarea {
    background-color:#485861;
    color: white;
    width:90%; 
    padding:10px;
    margin:10px 0 5px;
    border:1px solid #777;
    border-radius:10px;
}
.sidebar form input {
    background-color:#485861;
    color: white;
    width:90%;
    padding:10px;
    border:1px solid #777;
    border-radius:10px;
}

.sidebar form input::placeholder, textarea::placeholder {
    color: white;
}
.sidebar form button {
    position: absolute; 
    top:2%;
    left:85%;
    height: 90%;
    width:8%; 
    background-color:#485861;
    padding:10px 5px; 
    color: #424242;
    border:1px solid #777;
    border-radius:10px;
}
