
/* 사이드바 메뉴 */
p {
    margin:0;
    padding: 0;
}

.hide {
    display: none;   
}

.show {  
    display: block;
}

.sidebar .memo_show {
    border-bottom:1px solid #ccc;
    width:80%;
    display:inline-block;
    padding:5px;
    margin-bottom:50px;
}

#memo_list button {
    position: absolute;
    background-color:#fafafa;
    top:7%;
    right:20px;
    font-size: 14px;
    color: rgb(252, 107, 107);
    border:1px solid #777;
    padding:4px 7px;
    border-radius: 5px;
}

#memo_list div {
    display:inline-block;
    position: relative;
    width:80%;     
    border:1px solid #777;
    padding: 20px;
    margin-bottom:30px;   
} 
#memo_list p {
    text-align: left;  
    padding-left:5px;    
    margin-bottom: 2px;   
    font-size: 1rem;
}
#memo_list p:nth-child(2) {
    text-align: left; 
    padding-left:5px; 
    margin-top: 20px;    
    font-size: 1.2rem;    
} 
#memo_list .search_memo {
    display:inline-block;
    position: relative;
    width:80%; 
    margin: 20px; 
    padding: 10px 20px;
    border:1px solid#d27c7c;
} 

#memo_list input {
    position: absolute;
    background-color:#fafafa;
    top:7%;
    right:20px;
    font-size: 14px;
    color: rgb(252, 107, 107);
    border:1px solid #777;
    padding:4px 7px;
    border-radius: 5px;
}

.sidebar .memo_show {
    padding-bottom: 20px;
}
.sidebar form > div {
    display:inline-block;
    width:80%;
    text-align:left;
    margin-left:20px;
}

.sidebar form input {
    background-color:#fafafa;
    color: #424242;
    width:90%;
    padding:10px;
    border:1px solid #777;
    border-radius:10px;
}

.sidebar form input::placeholder, textarea::placeholder {
    color: #424242;
}
.sidebar form button {
    position: absolute; 
    top:8%;
    right:10%;
    height: 90%;
    width:5%; 
    background-color:#fafafa;
    padding:10px 5px; 
    color: #424242;
    border:1px solid #777;
    border-radius:10px;
}
