/* 햄버거 메뉴 */
input[id="menuicon"] {
    display:none;
}
input[id="menuicon"] + label {
    display:block;
    width:30px;
    height:20px;
    position:fixed;
    left:20px;
    top:calc(5% - 10px);
    transition:all .35s;
    cursor:pointer;
}
input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:4px;
    border-radius:30px;
    background:#6d6d6d;
    transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%)
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}
 /* 체크시 햄버거 버튼 변화 */
input[id="menuicon"]:checked + label {
    z-index:2;
    left:calc(40%);
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}
/* 사이드바 메뉴 */
div[class="sidebar"] {
    width:calc(40%);
    height:100%;
    background:#fafafa;
    position:fixed;
    top:0;
    left:calc(-40%);
    z-index:1;
    transition:all .35s;    
}
input[id="menuicon"]:checked + label + div {
    left:0;
}

#memo_list div {
    display:inline-block;
    width:80%; 
    margin: 20px; 
    padding: 10px;
    border-bottom:1px solid #ddd;
} 
#memo_list p.list1 {
    text-align: left; 
    margin-left:10px; 
    margin-bottom: 2px;
    font-weight: normal; 
    font-size: 1.3rem;
}
#memo_list p.list2 {
    text-align: left; 
    margin-left:10px; 
    color: #b9b9b9;
    font-weight:normal;
} 

.sidebar form > div {
    display:inline-block;
    width:80%;
    text-align:left;
    margin-left:20px;
}
.sidebar form textarea {
    background-color:#fafafa;width:90%; 
    padding:10px;
    margin:10px 0 5px;
    border:1px solid #ddd;
    border-radius:10px;
}
.sidebar form input {
    background-color:#fafafa;
    width:90%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:10px;
}
.sidebar form button {
    position: absolute; 
    top:0;
    left:85%;
    height: 95%;
    width:8%; 
    background-color:#fafafa;
    padding:10px 5px; 
    color: #424242;
    border:1px solid #ddd;
    border-radius:10px;
}
