{% extends 'base.html' %}

{% load static %}

{% block title %}Home Page {% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'gshs/js/infogigis.js' %}"></script>
{% endblock %}

{% block content %}

<div style="float:left; width: 40%; display: inline-block;">
    <select class="form-select gigigubun" data-gigi="{{gigigubun}}">
        <option value='all'>ALL</option>
    {% for gubun in productgubun %}
        <option value={{gubun}}>{{gubun}}</option>
    {% endfor %}
    </select>
    <span style="border:1px solid #ccc; padding: 9px; color: #f1f1f1; font-size: 14px; font-weight: bold; background-color:#616161;">{{ gigi_count }}</span>
</div>
<div style="display: inline-block; width: 60%;  text-align:right;">
    <form action="{% url 'gshs:search_infogigi' %}" method="get" style="display:inline-block;" >        
    <input style="height:32px;padding:0 10px;" type="text" name="word" class="form-class" value={{ word }}> 
    <button class="custom-btn" style="margin-top:2px;">
        <i class="fas fa-search"></i>
    </button> 
    </form> 
    <span style="margin-left:10px;">
        <button class="custom-btn js-create-infogigi" data-url="{% url 'gshs:create_infogigi' %}" title="새글 쓰기">
        <i class="far fa-plus-square"></i>
        </button>
    </span> 
</div>

<table class="custom-table" id="infogigi-table">
    <thead style="font-size: 14px;">
        <tr>
            <th>구분</th>
            <th>구매일</th> 
            {% if gigigubun == "NOTEBOOK" or gigigubun == "DESKTOP" or gigigubun == "all" %}
                <th>성명</th>
            {% endif %}            
            <th>위치</th>
            <th>회사명</th>
            <th>모델명</th>
            {% if gigigubun == "PRINTER" or gigigubun == "all" %}
                <th>컬러</th>
            {% endif %}                
            <th>Ip</th>
            <th>비고</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% include './partial-infogigi-list.html' %}
    </tbody>
</table>

<button class="custom-btn js-create-infogigi" data-url="{% url 'gshs:create_infogigi' %}"" title="새글 쓰기">
    <i class="far fa-plus-square"></i>
</button>  

{% include 'gshs/snippet/_pagination.html' with page_obj=page_obj page_range=page_range %}

<div class="modal fade" id="modal-infogigi">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}