{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block title %}Jaego To Rental{% endblock %}

{% block content %}
    <div style="margin-bottom:50px;color:#bfc144;">
        <h1>Stock To Rental</h1> 
        <hr>
    </div>    
    {% if form.errors %}
    <div>
        <div class="font-weight-bold">Wrong! please correct the form error(s) below.</div>
        {{form.errors}}
    </div>
    {% endif %}
    {% if formset.errors %}
    <div>
        <div class="font-weight-bold">Wrong! please correct the formset error(s) below.</div>
        {% for formerrors in formset.errors %}
            {{formerrors}}
        {% endfor %}
    </div>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        <h4>Stock</h4>
        <fieldset class="card pt-3">
            <div class="form-group row">
                {{ form.id|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.id|add_class:"form-control"}}
                </div>
            </div>
            <div class="form-group row">
                {{ form.infogigi|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.infogigi|add_class:"form-control"}}
                </div>
            </div>
            <div class="form-group row">
                {{ form.rental_status|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.rental_status|add_class:"form-control"}}
                </div>
            </div>
            <div class="form-group row">
                {{ form.bigo|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.bigo|add_class:"form-control"}}
                </div>
            </div>
        </fieldset>
        <br>

        <h4>Rental</h4>
        <fieldset class="card pt-3">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.id }}
            <div class="form-group row">
                {{ form.jaego|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold"}}
                <div class="col-sm-5">
                    {{ form.jaego|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.people|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.people|add_class:"form-control"}}
                </div>
            </div>
            <div class="form-group row">
                {{ form.place|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.place|add_class:"form-control"}}
                </div>
            </div>
            <div class="form-group row">
                {{ form.bigo|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.bigo|add_class:"form-control"}}
                </div>
            </div>

            <hr>
            {% endfor %}
        </fieldset>

        <div class="form-group card py-1">
            <div class="offset-sm3 col-sm-5">
                <input type="submit" value="Submit" class="custom-btn">
            </div>
        </div>
    </form>
{% endblock content %}