{% for item in object_list %}
    <tr>            
        <td>{{ item.created_date|date:'Y.m.d'}}</td>              
        <td>{{ item.infogigi }}</td>
        {% if item.rental_status == 'yes' %}
        <td style="color:green;">{{ item.get_rental_status_display }}</td>
        {% else %}
        <td style="color:red;">
        {{ item.get_rental_status_display }}</td>
        {% endif %}                    
        <td>{{ item.bigo }}</td>
        <td>     
            <button class="custom-btn js-rental-infogigi {{ item.id }}" data-url="{% url 'gshs:jaego_rental' %}" \
            {% if item.rental_status == 'no' or item.not_use == 'yes' %} disabled {% endif %}title="대여하기">
                <i class="fas fa-truck-moving"></i>
            </button>
            <a class="del-btn" type="button" href="{% url 'gshs:jaego_notuse' item.id %}" onclick="return confirm('불용처리 하시겠습니까?')" {% if item.not_use == 'yes' %} disabled {% endif %}title="불용처리">
                <i class="fas fa-recycle"></i>
            </a> 
        </td>
    </tr>
{% empty %}
<div class="card" style="margin-top:50px;">
    <div class="card-header">
        Search Result
    </div>
    <div class="card-body" style="text-align:center;">
        <h2>검색 결과가 없습니다.</h2>            
    </div>
</div>  
{% endfor %}    
 
