{% include "django/forms/widgets/date.html" %}

{% comment %} {{form.media }} {% endcomment %}
<script src="//code.jquery.com/jquery-3.4.1.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css">
<script>
    $("#{{widget.attrs.id}}").datepicker({
        dateFormat: 'yy-mm-dd',
    });
    document.querySelector('#{{ widget.attrs.id}}').setAttribute('autocomplete', 'off');
</script>



