<!-- 기존이미지 -->
<div>
    <img id='imagePreview' src='{{ value.url }}'/>
    <button id='imageClearBtn' type='button'>삭제</button>
    
    <!-- 기존 ClearableFileInput의 삭제 기능을 활용하기 위해 위에 삭제 버튼을 누르면 체크되도록 하되 안보이게 설정 -->
    <div class="custom-control custom-checkbox d-none">
        <input type="checkbox" id="chk-{{ name }}" class="custom-control-input" name="chk-{{ name }}">
        <label class="custom-control-label" for="chk-{{ name }}">이미지를 삭제하려면 체크하세요.</label>
    </div>

    <!-- 파일 업로드 폼 좀 더 예쁘게(선택사항) -->
    <div class="custom-file">
        <input type="file" id="{{ id }}" class="custom-file-input" name="{{ name }}" accept="image/*" style="cursor: pointer;">
        <label for="{{ id }}" class="custom-file-label">파일 선택</label>
    </div>

    <!-- 여기서부터 스크립트 -->
    <script>
        <!-- 삭제 버튼이 클릭되면 이미지 안보이게 한 후 숨겨진 삭제 체크박스 값 변경 -->
        document.getElementById('imageClearBtn').addEventListener('click', function(e) {
            document.getElementById('imagePreview').src = "";
            document.getElementById('chk-{{ name }}).checked = true;
        });

        // 파일 선택 이벤트 등록
        var imgFieldCtrl = document.getElementById('{{ id }}')
        imgFieldCtrl.addEventListener('change', function(e) {
            if (imgFieldCtrl.files && imgFieldCtrl.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {   
                    document.getElementById('imagePreview').src = e.target.result;
                }

                // convert to base64 string
                reader.readAsDataURL(document.getElementById('{{ id }}').files[0]); 
            }
        });
    </script>
</div>