{% extends 'base.html' %}

{% load bootstrap4 %} 

{% block content %}

<div class="panel panel-default registration">
    <div class="panel-heading">
        로그인하기
    </div>
    <div class="panel-body">
       <form action="{% url 'accountapp:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" />   
        <div class="form-actions">
            <button class="btn btn-secondary btn-large" type="submit">로그인하기</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}