{% extends 'base.html' %}

{% load static %}

{% block title %}Home Page {% endblock %}
{% block js %} 
<script type="text/javascript" src="{% static 'gshs/js/infogigis.js' %}"></script>   
{% endblock %}
{% block extra-style %} {% endblock %}

{% block content %}
<div class="table-title" style="float:left; width: 40%; display: inline-block;">
    <span>REPAIR</span>
</div>
<div style="display: inline-block; width: 60%;  text-align:right;">
    <form action="{% url 'gshs:search_suri' %}" method="get" style="display:inline-block;" >        
        <input style="height:36px;padding:0 10px;" type="text" name="word" class="form-class" value={{ word }}> 
        <button class="custom-btn" style="margin-top:2px;">
            <i class="fas fa-search"></i>
        </button> 
    </form>   
</div>

<table class="custom-table" id="suri-table">
    <thead style="font-size: 14px;">
        <tr>
            <th>수리일</th>
            <th>수리기기</th>                        
            <th>원인</th>
            <th>해결</th>   
            <th>수리비용</th>                 
            <th>비고</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% include 'gshs/suri/partial-suri-list.html'%}
    </tbody>
</table>
{% include 'gshs/snippet/_pagination.html' with page_obj=page_obj page_range=page_range %}

<div class="modal fade" id="{{ modal_gubun }}">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}