{% extends 'base.html' %}

{% load static %}
{% load imagekit %}
{% load humanize %} 

{% block title %}Home Page {% endblock %}
{% block js %} 
<script type="text/javascript" src="{% static 'js/infogigis.js' %}"></script>   
{% endblock %}

{% block content %}
<div class="table-title" style="float:left; width: 40%; display: inline-block;">
    <span>REPAIR</span>
</div>
<div style="display: inline-block; width: 60%;  text-align:right;">
    <form action="{% url 'gshs:search_suri' %}" method="get" style="display:inline-block;" >        
        <input style="height:36px;padding:0 10px;" type="text" name="word" class="form-class" value={{ word }}> 
        <button class="custom-btn" style="margin-top:2px;">
            <i class="fas fa-search"></i>
        </button> 
    </form>   
</div>

<div class="row" style="margin-top: 40px; border: 1px solid #ccc; padding:30px 20px; border-radius: 2px;">
{% for item in object_list %}
    <div class="col-sm-6" style="margin-bottom: 20px;">
        <div class="card">
            <div class="card-header">
                <div style="margin-bottom: 10px; display: inline-block; float:left; width: 50%;">
                    <p style="font-weight: bold; font-size: 15px; letter-spacing: 1px;">{{ item.infogigi.place }}&nbsp( {{ item.infogigi.productgubun.gubun_name }} )&nbsp{{ item.infogigi }}</p>
                    <p style="font-size: 13px; letter-spacing: 1px;">
                            {{ item.created_date|date:'Y.m.d'}}
                    </p>
                </div>
                <p style="display: inline-block; width: 50%; text-align: right;">
                    <a style="color: #333; padding:0 5px; 0" class="js-suri-update" href="{% url 'gshs:suri_update' item.id %}" title="글 수정">
                        <i class="fas fa-edit"></i>
                    </a>            
                    <a style="color: #dc3545;" href="{% url 'gshs:suri_delete' item.id %}" onclick="return confirm('정말 삭제하시겠습니까?')" title="글 삭제">
                        <i class="fas fa-trash"></i>
                    </a> 
                </p>
            </div>
            
            <div class="card-body">
                <div class="Gallery">
                {% if item.photo_set.all %}            
                    {% for photo in item.photo_set.all %}
                        <a href="{{ photo.image.url }}"><img src={{ photo.image.url }} width="200"></a>
                    {% endfor %}            
                {% endif %}  
                </div>
                <h5 class="card-title" style="font-size: 17px; color: #bbb;">원인</h5>
                <p class="card-text" style="padding-left: 20px;">{{ item.cause }}</p>
                <h5 class="card-title" style="font-size: 17px; color: #bbb;">해결</h5>
                <p class="card-text" style="padding-left: 20px;">{{ item.result|linebreaksbr }}</p>            
                {% if item.bigo %}  
                    <P class="repair-sub" style="border: 1px solid #bbb; padding: 10px;">{{ item.bigo }}</P>
                {% endif %} 
                {% comment %} <div class="card-footer text-muted">
                    {{ item.price|intcomma }}
                </div> {% endcomment %}
                <p class="btn btn-secondary">&#8361; {{ item.price|intcomma }}</p>
                
            </div>
        </div>
    </div>
{% empty %}
<div class="card col-sm-12" style="margin-top:50px;">
    <div class="card-header">
        Search Result
    </div>
    <div class="card-body" style="text-align:center;">
        <h2>검색 결과가 없습니다.</h2>            
    </div>
</div> 

{% endfor %}    
</div>

{% include 'gshs/snippet/_pagination.html' with page_obj=page_obj page_range=page_range %}

<div class="modal fade" id="{{ modal_gubun }}">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}