<form method="post" action="{% url 'gshs:suri_place' %}" class="js-place-suri-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Place Suri</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'gshs/snippet/partial-suri-place-form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-info">submit</button>
    </div>
</form>