{% extends 'base.html' %}

{% load static %}

{% block title %}Home Page {% endblock %}

{% block extra-style %} {% endblock %}

{% block content %}

    <div class="card card-body" style="background-color: rgb(250, 250, 250);">    
    <table class="table">
        <thead style="font-size: 14px;">
            <tr>
                <th>구매일</th>
                <th>구분</th>                
                <th>성명</th>
                <th>위치</th>
                <th>회사명</th>
                <th>모델명</th>
                <th>컬러</th>
                <th>Ip</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
            {% include 'gshs/sippet/partial-infogigi-list.html' %}
        </tbody>
    </table>

        <div class="modal fade" id="modal-infogigi">
            <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block footer %}
{% endblock %}