{% load humanize %} 
{% for item in object_list %}
    <tr>
        <td>{{ item.created_date|date:'Y.m.d' }}</td>
        <td>{{ item.maker }}</td>
        <td>{{ item.model }}</td>
        <td>
            <button type="button" class="btn btn-info btn-sm" data-toggle="popover" data-content="{{ item.license | safe }}">라이센스키</button>
        </td> <!--  data-placement="top"  -->
        <td>{{ item.count }}</td>
        <td>{{ item.price|intcomma }} 원</td>
        <td>{{ item.remain }}</td>
        <td>     
            <button class="custom-btn js-rental-software {{ item.id }}" data-url="{% url 'gshs:software_rental' %}" \
            {% if item.remain <= 0 %} disabled {% endif %}title="분출하기">
                <i class="fas fa-truck-moving"></i>
            </button>           
        </td>        
    </tr>
{% empty %}
<div class="card" style="margin-top:50px;">
    <div class="card-header">
        Search Result
    </div>
    <div class="card-body" style="text-align:center;">
        <h2>검색 결과가 없습니다.</h2>            
    </div>
</div> 

{% endfor %}