{% load static %}

<input type="checkbox" id="menuicon">
<label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
</label>
<div class="sidebar">
    <div style="margin-top: 50px;text-align:center;">       
        <form class="memo_form" action="{% url 'memo:memo' %}" method="post" style="position: relative;margin-bottom: 30px;">
        {% csrf_token %}
            <div>
                <input type="text" name="title" required>            
                <br>
                <textarea name="content" cols="30" rows="3" required></textarea>
            </div>
            <button>submit</button>
        </form>        
        <div id="memo_list">
            {% for memo in memos %}
            <div>
                <p class="list1"><span>{{ memo.title }}</span></p>
                <p class="list2"><span>{{ memo.created_date|date:'Y.m.d' }}</span></p>
                <p class="list1"><span>{{ memo.content|linebreaks }}</span></p>
            </div>
            {% endfor %}
        </div>        
    </div>
</div>

<script>
$(document).ready(function () {
    let MemoForm = function () {
        let form = $(this);  
        $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',        
        success: function (data) {
            if (data.form_is_valid) {  
                let htmlCode = '';
                htmlCode += '<div>'
                htmlCode += "<p>" +  data.memos['title'] + "</p>"
                htmlCode += "<p>" +  data.memos['created_date'] + "</p>"
                htmlCode += "<p>" +  data.memos['content'] + "</p>"
                htmlCode += '</div>'
            $(".memo_form")[0].reset();
            $('#memo_list').prepend(htmlCode); 
            }                     
        }
        });
    };

    $(".memo_form").submit(MemoForm);
})
</script>