{% extends 'base.html' %}

{% load static %}

{% block content %}

<div style="display:flex;width:100%;justify-content: center;">
  <div class="place-left" style="width:20%;padding:0 30px 30px;margin-left:10%;">
    <div style="background-color:#efefef; border:1px solid #ccc;text-align:center; padding:50px 30px;font-weight:bold; letter-spacing:3px;"><h2>{{ gubun }}</h2></div>
    <ul>
      {% for item in object_list %}
      <li><a herf="{% url 'gshs:list_place' item.room %}">{{item.room}}</a></li> 
      {% endfor %}    
    </ul>
  </div>

  <div class="place-right" style="width:80%;padding:20px;margin-left: 20px;margin-right:10%;">
    <div style="margin-bottom:20px;">
      <h1>그림 들어갈 자리</h1>    
    </div>
    <div style="margin-bottom:20px;">
      <table class="custom-table" id="infogigi-table">
        <thead style="font-size: 14px;">
            <tr>
              <th>구분</th>
              <th>구매일</th> 
              <th>성명</th>                        
              <th>위치</th>
              <th>회사명</th>
              <th>모델명</th>                             
              <th>Ip</th>                
            </tr>
        </thead>
        <tbody>
            {% include './partial-place-gigilist.html' %}
        </tbody>
      </table>   
    </div>
    <div style="margin-bottom:20px;">
      <h1>복합기</h1>   
    </div>
    <div style="margin-bottom:20px;">
      <h1>수리</h1>   
    </div>
    <div style="margin-bottom:20px;">
      <h1>교체</h1>   
    </div>     
  </div>
</div>
  

<div class="modal fade" id="{{ modal_gubun }}">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}