{% extends 'base.html' %}

{% load static %}

{% block content %}

<div style="display:flex;width:100%;justify-content: center;">
  <div class="place-left" style="width:20%;padding:0 30px 30px;margin-left:5%;">
    <div style="background-color:#efefef; border:1px solid #ccc;text-align:center; padding:40px 20px;font-weight:bold; letter-spacing:3px;"><h3>{{ gubun }}</h3></div>
      <ul>
        {% for item in object_list %}
        <li><a herf="{% url 'gshs:list_place' item.room %}">{{item.room}}</a></li> 
        {% endfor %}    
      </ul>
  </div>

  <div class="place-right" style="width:80%;padding:20px;margin-left: 20px;margin-right:5%;">
    <div style="margin-bottom:50px;">
      <h1>그림 들어갈 자리</h1>    
    </div>
    <div>
      <span class="bd-callout2" style="font-size:1rem;">부서원</span>
    </div>
    <div style="margin-bottom:50px;">
      <table class="place-table" id="infogigi-table">
        <thead style="font-size: 14px;">
            <tr>  
              <th>구분</th>            
              <th>구매일</th> 
              <th>성명</th>  
              <th>제조사</th>
              <th>모델명</th>                             
              <th>Ip</th>                
            </tr>
        </thead>
        <tbody>
            {% include './partial-place-peoplelist.html' %}
        </tbody>
      </table>   
    </div>
    <div>
      <span class="bd-callout2" style="font-size:1rem;">복합기</span>
    </div>
    <div style="margin-bottom:50px;">
      <table class="place-table" id="infogigi-table">
        <thead style="font-size: 14px;">
            <tr>  
              <th>구매일</th> 
              <th>제조사</th>
              <th>모델명</th>                             
              <th>색상</th>              
              <th>Ip</th> 
            </tr>
        </thead>
        <tbody>
            {% include './partial-place-gigilist.html' %}
        </tbody>
      </table>   
    </div>
    <div>
      <span class="bd-callout2" style="font-size:1rem;">수리</span>
    </div>
    <div style="margin-bottom:50px;">
      <table class="place-table" id="infogigi-table">
        <thead style="font-size: 14px;">
            <tr>
              <th>수리일</th> 
              <th>제조사</th>
              <th>모델명</th>                             
              <th>원인</th>  
              <th>결과</th> 
            </tr>
        </thead>
        <tbody>
            {% include './partial-place-surilist.html' %}
        </tbody>
      </table>   
    </div>
    <div>
      <span class="bd-callout2" style="font-size:1rem;">부품교체</span>
    </div>
    <div style="margin-bottom:50px;">
      <table class="place-table" id="infogigi-table">
        <thead style="font-size: 14px;">
            <tr>
               <th>교체일</th>
              <th>교체기기</th> 
              <th>부품명</th>
              <th>수량</th>
              <th>가격</th>  
            </tr>
        </thead>
        <tbody>
          {% include './partial-place-bupumlist.html' %}
        </tbody>
      </table>   
    </div>     
  </div>
</div>
  

<div class="modal fade" id="{{ modal_gubun }}">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}